<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <%- include("home.ejs")%>

        <div class="container p-5 bg-light rounded-3 mt-5">
            <div class="form-group text-center">
                <input type="text" name="name" id="" class="w-75 p-2" placeholder="Search Category">
            </div>
            
            <table class="table mt-5 text-center table-striped">
                <tr>
                    <th>Sr NO</th>
                    <th>Category</th>
                    <!-- <th>Delete</th>
                    <th>Update</th> -->
                </tr>
                <tbody id="tblbody">
                <% foodList.forEach((food,index)=> { %>
                    <tr>
                        <td>
                            <%= index+1%>
                        </td>
                        <td>
                            <%= food.category%>
                        </td>
                    </tr>
                    <% }) %>
                    </tbody>
            </table>
        </div>
</body>

</html>