<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<div class="d-flex justify-content-center mt-5">
            <div id="carouselExampleFade" class="carousel slide carousel-fade w-50" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExZzVxczc2aHVxc3FtNmYzcWlvMmQ5dGVoMzk5cndxcDhvdzBubW91MCZlcD12MV9naWZzX3NlYXJjaCZjdD1n/FXGoDrsgrNLj2/giphy.gif"
                            class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://media.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3eTNzNG5rMHZkamV2MmZsZGp2ZzY5eHhtNm12cDVjYmtpbDN2NjJnbCZlcD12MV9naWZzX3JlbGF0ZWQmY3Q9Zw/j4rPM934CLIvC/giphy.gif"
                            class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://media.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3d3EyZjBqcmhqeWFocHZyc2VnYWRraXRucWw3YnVoZ2RpZnI0eTNtMCZlcD12MV9naWZzX3JlbGF0ZWQmY3Q9Zw/3XEgV9kfwLy1i/giphy.gif"
                            class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>