<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%- include("home.ejs") %>
        <form action="/saveemp" method="post" enctype="multipart/form-data">
            <div class="container mt-5 text-white">
                <forms class="row g-3 ">
                    <div class="col-md-6">
                        <label class="form-label">Enter The Name</label>
                        <input type="text" name="name" class="form-control">
                    </div>

                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Enter Email</label>
                        <input type="email" name="email" class="form-control" id="inputEmail4" onblur="checkEmailExistance(this.value)">
                        <label class="text-white" id="labelMsg"></label>
                    </div>

                    <div class="col-12">
                        <label for="inputAddress" class="form-label">Enter The Contact</label>
                        <input type="text" name="contact" class="form-control" id="inputAddress">
                    </div>
                    <div class="col-12">
                        <label for="inputAddress2" class="form-label">Photo</label>
                        <input type="file" name="photo" class="form-control" id="inputAddress2"
                            placeholder="Apartment, studio, or floor">
                    </div>
                    <div class="col-md-6">
                        <label for="inputCity" class="form-label">Enter The Salary</label>
                        <input type="text" name="sal" class="form-control" id="inputCity">
                    </div>
                    <div class="col-md-6">
                        <label for="inputState" class="form-label">Departments</label>
                        <select name="deptid" id="inputState" class="form-select">
                            <option>Choose Dept</option>
                            <% deptList.forEach((depData,index)=> { %>
                                <option value="<%=depData.deptid%>">
                                    <%= depData.deptname%>
                                </option>
                                <% }) %>
                        </select>
                    </div>

                    
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-primary w-50 mt-4 p-2">Add Employee</button>
                    </div>

                    <div>
                        <% if(msg.length!=0){ %>
                            <div class="form-group">
                                <div class="alert alert-success d-flex align-items-center cl" role="alert">
                                    <!-- <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img"
                                        aria-label="Success:">
                                        <use xlink:href="#check-circle-fill" />
                                    </svg> -->
                                    <div>
                                        <%= msg%>
                                    </div>
                                </div>
                                <% } %>
                            </div>
                    </div>

                </forms>
            </div>
        </form>
</body>

</html>