<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMI Calculator</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        body {
            height: 100vh;
            width: 100vw;
            align-content: center;
        }

        .container {
            height: 700px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .box{
            height: 400px;
            width: 90%;
            border: 1px solid green;
            text-align: center;
        }
        input{
            height: 40px;
            width: 300px;
            margin: 10px;
        }
        :in-range{
            font-size: 70px;
            background-color: green;
        }
        .kb{
            height: 40px;
            width: 140px;
            border-radius: 5px;
            align-content: center;
        }
    </style>
</head>

<body>
    <div class="container">
        <form action="/save" method="post">

            <h1>Home Loan EMI Calculator</h1>
            <div class="box">


                <div class="all_input">
                    <!-- <label >Loan Amount</label> -->
                    <input type="range" name="amt" id="amt" min="100000" value="" max="5000000" value="2000000"> <br>
                    <input type="text" name="loanamt" id="loanamt" placeholder="Loan Amount">
                </div>

                <div class="all_input">
                    <!-- <label>Tenure (Years)</label> -->
                    <input type="range" name="yr" id="yr" min="1" max="30"> <br>
                    <input type="text" name="tenyr" id="tenyr" placeholder="Tenure (Years)">
                </div>

                <div class="all_input">
                    <!-- <label>Interest Rate</label> -->
                    <input type="range" name="int" id="int" min="0.5" max="15" value=""> <br>
                    <input type="text" name="intrate" id="intrate" placeholder="Interest Rate">
                </div>
            </div>
            <div class="submit">
                <button class="kb" name="sub">Calculate</button>
            </div>



            <div class="info">
                <h5>Monthly EMI : ₹<%= emi %>
                </h5>
                <h5>Principal Amount : ₹<%= loanamt %>
                </h5>
                <h5>Total Interest : ₹<%= totalInterest %>
                </h5>
            </div>


        </form>
    </div>

    <script>
        let range = document.getElementById("amt")
        let text = document.getElementById("loanamt")
        range.addEventListener("input", function () {
            text.value = range.value
        })

        let range1 = document.getElementById("yr")
        let text1 = document.getElementById("tenyr")
        range1.addEventListener("input", function () {
            text1.value = range1.value
        })

        let range2 = document.getElementById("int")
        let text2 = document.getElementById("intrate")
        range2.addEventListener("input", function () {
            text2.value = range2.value
        })



    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>