body{
    /* height: 100vh;
    margin: 0;
    /* width: 100%;  */
    background-image: url("https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExeHgwdTdzbTN1N3JwYWJ0cXo1aWRxc3RpbnFidDVsd3RhaHI0OGdrcSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/l5JbspfwZ0yjHjlJ0K/giphy.gif");
     background-repeat: no-repeat;
     background-size: cover;
    /*background-size: 100% 700px;    
    background-position: center;
    background-size: 50%;     */ 

}   